{%extends 'base/layout.html'%} 
{% load static %} 

{% block title %}Site Map{% endblock %} 

{% block content %}
<div style="display: flex; flex-direction: row">
    <select
        id="tenantSelect"
        style="
            margin: 7px;
            color: rgb(86, 86, 86);
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            background: white;
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0px 20px 0px 20px;
        "
    >
        <option>Filter by Vendor</option>
        {% for tenant in tenants %}
            <option value="{{tenant.value}}">{{tenant.label}}</option>
        {% endfor %}
    </select>
    <select
        id="statusSelect"
        style="
            margin: 7px;
            color: rgb(86, 86, 86);
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            background: white;
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0px 20px 0px 20px;
        "
    >
        <option>Filter by Status</option>
        {% for status in site_statuses %}
            <option value="{{status.value}}">{{status.label}}</option>
        {% endfor %}
    </select>
    <select
        id="groupSelect"
        style="
            margin: 7px;
            color: rgb(86, 86, 86);
            font-family: Roboto, Arial, sans-serif;
            font-size: 18px;
            background: white;
            border: none;
            box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            padding: 0px 20px 0px 20px;
        "
    >
        <option>Filter by Group</option>
        {% for group in site_groups %}
            <option value="{{group.value}}">{{group.label}}</option>
        {% endfor %}
    </select>
</div>
<!-- Create a div to hold the Google Map -->
<div id="map" style="height: 600px; width: 100%; position: relative"></div>
<!-- Load the Google Maps API -->

{% endblock%} 

{% block javascript %}
<script
    async
    src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_key }}&callback=initMap"
></script>

<script src="{% static 'geo_map/index.js' %}"></script>
{% endblock %}
