.multiselect-dropdown {
  display: inline-block;
  padding: 2px 5px 0px 5px;
  box-shadow: 0px 2px 4px rgba(226, 221, 221, 0.1);
  cursor: pointer;
  background-color: white;
  position: relative;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  max-width: 300px;
  min-width: 250px;
  height: 40px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.multiselect-dropdown:hover {
  background-color: #f1ebeb;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

span.placeholder:hover {
  color: black;
}

.multiselect-dropdown span.optext,
.multiselect-dropdown span.placeholder {
  margin-right: 0.5em;
  margin-bottom: 2px;
  padding: 1px 0;
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  justify-content: center !important;
  display: inline-block;
}

.multiselect-dropdown span.optext {
  padding: 5px 12px;
}

.multiselect-dropdown span.optext .optdel {
  float: right;
  margin: 0 -6px 1px 5px;
  font-size: 0.7em;
  margin-top: 2px;
  cursor: pointer;
  color: #666;
}

.multiselect-dropdown span.optext .optdel:hover {
  color: #666;
}

.multiselect-dropdown span.placeholder {
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  display: block;
  text-align: center;
  padding-top: 5px;
}

.multiselect-dropdown-list-wrapper {
  box-shadow: gray 0 3px 8px;
  z-index: 100;
  padding: 2px;
  border: solid 1px #ced4da;
  display: none;
  margin: -1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: white;
}

.multiselect-dropdown-list-wrapper .multiselect-dropdown-search {
  margin-bottom: 5px;
  border-radius: 0%;
  background-color: #fff !important;
}

.multiselect-dropdown-search:focus,
.form-control:focus {
  margin-bottom: 5px;
  border-radius: 0% !important;
  color: #212529 !important;
  background-color: #fff;
  border-color: #999 !important;
  box-shadow: none !important;
}

.multiselect-dropdown-list {
  padding: 2px;
  height: 12rem;
  overflow-y: auto;
  overflow-x: hidden;
}

.multiselect-dropdown-list::-webkit-scrollbar {
  width: 6px;
}

.multiselect-dropdown-list::-webkit-scrollbar-thumb {
  background-color: #bec4ca;
}

.multiselect-dropdown-list div {
  padding: 5px;
  display: flex;
  align-items: baseline;
  color: rgb(86, 86, 86);
  gap: 0.35em;
  font-size: 16px;
}

.multiselect-dropdown-list input {
  width: 14px;
  border-radius: 0;
  flex-shrink: 0;
  margin-right: 0.35em;
}

.multiselect-dropdown-list input[type="checkbox"]:checked {
  accent-color: black;
  background-color: #bec4ca;
}
input[type="checkbox"] {
  color-scheme: light !important;
}
.multiselect-dropdown-list div:hover {
  background-color: #f1ebeb;
}

.multiselect-dropdown span.maxselected {
  width: 100%;
}

.multiselect-dropdown-all-selector {
  border-bottom: solid 1px #999;
}

#actions {
  color: rgb(86, 86, 86);
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  background: white;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
  height: 40px;
  width: 180px;
  cursor: pointer;
}

#actions:hover {
  background-color: #f1ebeb !important;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

#actions-content {
  display: none;
  padding: 8px 20px;
  font-family: Roboto, Arial, sans-serif;
  color: rgb(86, 86, 86);
  font-size: 16px;
  background: white;
  cursor: pointer;
}

#actions:disabled {
  background-color: #f1ebeb;
  cursor: not-allowed;
}

#actions:disabled:hover {
  background-color: #f1ebeb !important;
  cursor: not-allowed;
}
